.new_header{
    width:100%;
    display:flex;
    justify-content: center;
    background-color: white;
    border-style: solid;
    border-width:1px;
    border-color:whitesmoke;
}
.responsive {
    max-width: 100%;
    height: auto;
    padding-left: 50%;
    align-self:right;
  }
  @media screen and (max-width: 992px) {
    .column {
      flex: 100% !important;
      align-self: flex-start; /* !important so that it overrides the inline style because by default it has higher priority */
    }
  }
  